<% if user_signed_in?%>
  <div>
    <%= button_to "SIGN OUT", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
  </div>
<%end%>

<% if current_user.is_organization_admin? %>
  <div>
    <h3>
      <%= link_to "Personal Area", current_user%>
    </h3>
  </div>
<%end%>

<h1>ORDERS</h1>

<strong>
  <tr>
    <th> <%= sortable "price", "Sorted by price" %> </th>
    <th> <%= sortable "distance", "Sorted by distance" %> </th>
    <th> <%= sortable "created_at", "Sorted by create date" %> </th>
  </tr>
</strong>

<% if current_user.is_organization_admin? %>
  <%= form_for(cargos_path, method: 'get') do %>
    <%= select_tag('operator_id_filter', options_from_collection_for_select(@users, :id, :email))%>   
    <%= submit_tag("Search")%>
  <%end%>
<%end%>

<% @cargos.each do |cargo|%>
  <div>
    <h2>
      <%= link_to "Order № #{cargo.id} #{cargo.origins} - #{cargo.destinations}", cargo %>
    </h2>
  </div>
<%end%>

<%= paginate @cargos %>

<%if current_user.organization.present?%>
  <div>
    <h4>
      <%= link_to "CREATE ORDER", new_cargo_path %>
    </h4>
  </div>
<%else%>
  <h4> <strong> You don't have a role to create cargos yet </strong> </h4>
<%end%>
